/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

* {
	box-sizing: border-box;
}

#root {
	height: 100vh;
}
:root {
	--color-green: #79BFA4;
	--color-orange: #FF8C42;
	--color-orange: #FF8C42;
	--color-grey-dark: #747C92;
	--color-grey: #BCBCBC;
	--color-grey-light: #F6F6F6;
	--color-grey-black: #191919;
	--color-white: #fff;
	--color-black: #000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Inter', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.gg-chevron-down {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px
}

.gg-chevron-down::after {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
	left: 4px;
	top: 2px
}

.gg-chevron-up {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px
}

.gg-chevron-up::after {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(-45deg);
	left: 4px;
	bottom: 2px
}

.gg-file {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden
}
.gg-file::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
}

.map.icon {
	box-sizing: content-box;
	color: #000;
	position: absolute;
	margin-left: 8px;
	margin-top: 4px;
	width: 4px;
	height: 10px;
	border-radius: 1px;
	border: solid 1px currentColor;
	-webkit-transform: skewY(20deg );
			transform: skewY(20deg) scale(2);
  }
  
  .map.icon:before {
	content: '';
	position: absolute;
	left: -6px;
	top: 1px;
	width: 4px;
	height: 10px;
	border-radius: 1px;
	border: solid 1px currentColor;
	-webkit-transform: skewY(-40deg);
			transform: skewY(-40deg);
  }
  
  .map.icon:after {
	content: '';
	position: absolute;
	left: 4px;
	top: -3px;
	width: 4px;
	height: 10px;
	border-radius: 1px;
	border: solid 1px currentColor;
	-webkit-transform: skewY(-40deg);
			transform: skewY(-40deg);
  }

  .gg-euro {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 100px;
    border-right-color: transparent
}
.gg-euro::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 9px;
    height: 5px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: skewX(-20deg);
    left: -4px;
    top: 3px
}
  
.gg-layout-list {
    transform: scale(var(--ggs,1))
}
.gg-layout-list,
.gg-layout-list::after,
.gg-layout-list::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 2px;
    border-left: 6px double;
    border-right: 4px solid
}
.gg-layout-list::after,
.gg-layout-list::before {
    content: "";
    position: absolute;
    left: -6px
}
.gg-layout-list::after {
    bottom: 4px
}
.gg-layout-list::before {
    top: 4px
}